.c-header-cell {
  border: (--header-cell-width) solid var(--c-header-cell-border) !important;
}

:root {
  --c-header-cell-border: #101010 !important;
  --c-bg-default: #050607 !important;
  --c-bg-subtle: #090a0c !important;
  --c-table-item-row: #08090a !important;
  --c-table-item-row-hover: #0f1012 !important;
  --c-table-even-item-row: #08090a !important;
  --replay-text-color: #fff !important;
  --selection-background: rgba(255, 255, 255, 0.15) !important;
  --header-cell-width: 1px !important;
  --selected-row-background: var(--c-bg-default) !important;
}

.cm-selectionBackground {
  background: var(--selection-background) !important;
}

.c-item-row[data-is-selected="true"] {
  background: var(--selected-row-background) !important;
}

.ͼf {
  color: var(--replay-text-color) !important;
}

.c-table__header-row {
  background-color: var(--c-bg-subtle) !important;
}

.c-table__item-row:hover {
  background-color: var(--c-table-item-row-hover) !important;
}

.c-table__item-row[data-is-even="false"]:not([colorized="true"]) {
  background-color: var(--c-table-even-item-row);
}

.c-active-rule-list__rules,
.c-file-navigation__well-body {
  overflow: auto !important;
}

.c-sidebar-group__move-up:hover,
.c-sidebar-group__move-down:hover {
  cursor: pointer;
}

.c-sidebar-group__move-up,
.c-sidebar-group__move-down {
  opacity: 0.5;
  z-index: 5;
}

.c-sidebar-group__rearrange-arrows {
  display: flex;
  align-items: center;
}

.c-sidebar-group__move-up path,
.c-sidebar-group__move-down path {
  transition: 0.2s ease stroke;
  stroke: var(--c-fg-subtle);
}

.c-sidebar-group__move-up:hover path,
.c-sidebar-group__move-down:hover path {
  stroke: #f5f5f5;
}

.c-preset-list__well-entry-actions {
  display: flex;
  gap: 0.5rem;
}

.c-sidebar__toggle-wrapper {
  top: -1rem !important;
  right: 1.2rem !important;
}

.c-sidebar-group__title {
  transition: 0.2s ease color;
}

.c-sidebar-group__title:hover {
  color: rgb(99, 99, 99);
  cursor: pointer;
}

.even-better__header-title {
  font-size: var(--c-font-size-300);
}

.even-better__header-description {
  color: var(--c-fg-subtle);
}

.even-better__header {
  margin-bottom: 1rem;
}

.even-better__settings-content .activate--box {
  gap: 0.5rem;
}

.even-better__settings {
  padding: 1rem;
}

.even-better__settings-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: var(--c-bg-subtle);
}

.even-better__theme-section,
.even-better__colorize-http,
.even-better__sidebar-tweaks,
.even-better__quick-ssrf {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--c-bg-default);
}

.even-better__settings-content h2 {
  font-size: 1rem;
  margin: 0;
}

.even-better__settings-content h3 {
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.5rem;
}

.even-better__settings-content p {
  font-size: 0.9rem;

  color: gray;
  margin: 0;
  margin-bottom: 0.7rem;
}

.even-better__settings-content label {
  font-size: 0.9rem;
}

.even-better__theme-select {
  margin-top: 8px;
  background-color: var(--c-bg-subtle);
  border: 1px solid var(--c-header-cell-border);
  color: #fff;
  padding: 0.5rem;
  width: 100%;
}

.even-better__settings-content input[type="text"] {
  background-color: var(--c-bg-subtle);
  border: 1px solid var(--c-header-cell-border);
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.even-better__settings-content input[type="checkbox"] {
  accent-color: var(--c-fg-default);
}

.even-better__settings-content hr {
  border: 1px solid var(--c-header-cell-border);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#scope-presents-export:hover {
  cursor: pointer;
}

/* Fixes scrollbar issue in the Filter tab */
.c-drawer__body {
  max-height: 95%;
}
