#evenbetter-library {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--c-space-2);
  overflow: hidden;
}

.c-evenbetter_library-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  min-height: 0;
}

.c-evenbetter_library {
  width: 100%;
  height: 100%;

  background-color: var(--c-bg-subtle);
}

#evenbetter_library-left,
#evenbetter_library-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.c-evenbetter_library-header {
  background-color: var(--c-bg-subtle);
  border-bottom: 0.15em solid rgba(0, 0, 0, 0.2);
  min-width: 0;
  padding: var(--c-space-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--c-space-4);
}

.c-evenbetter_table-item-row {
  display: flex;
  min-width: fit-content;
  height: 42px;
  box-sizing: border-box;
  white-space: nowrap;
  border-bottom: 0.1em solid var(--c-bg-default);
}

.c-evenbetter_library-content {
  flex: 1;
  min-width: 0;
}

.evenbetter-table-actions {
  display: flex;
  align-items: center;
  gap: var(--c-space-2);
}

.evenbetter-table-actions__select {
  width: 5em;
}

.c-evenbetter_button {
  font-size: var(--c-font-size-100);
  font-weight: var(--c-font-weight-500);
  --button-focus-color: white;
}

[data-outline="true"][data-variant="secondary"] .c-evenbetter_button__input {
  background-color: transparent;
  color: var(--c-fg-secondary);
  border: var(--c-border-width-2) solid var(--c-border-secondary);
}

.c-evenbetter_button__input:active {
  background-color: var(--c-yellow-300) !important;
  color: var(--c-gray-900) !important;
}

[data-outline=true][data-variant=secondary] .c-evenbetter_button__input[added=true] {
  border: var(--c-border-width-2) solid #737373;
  color: #737373;
}

[data-block="true"] .c-evenbetter_button__input {
  width: 100%;
}

[data-variant="secondary"] .c-evenbetter_button__input {
  background-color: var(--c-bg-secondary);
  color: var(--c-fg-onEmphasis);
}

[data-size="small"] .c-evenbetter_button__input {
  padding: var(--c-space-0) var(--c-space-2);
  min-height: var(--c-space-8);
}

.c-evenbetter_button__input {
  display: flex;
  align-items: center;
  font-size: inherit;
  border: 0;
  border-radius: var(--c-border-radius-1);
  cursor: pointer;
}

.c-evenbetter_button__input {
  background-color: transparent;
  color: var(--c-fg-secondary);
  border: var(--c-border-width-2) solid var(--c-border-secondary);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: inherit;
  border: 0;
  border-radius: var(--c-border-radius-1);
  cursor: pointer;
}

.c-evenbetter_button__label {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  justify-content: center;
}

.c-evenbetter_library_card .header-description {
  color: var(--c-fg-subtle);
  margin: 0 !important;
}

.c-evenbetter_library_card header {
  padding: 1em;
  margin-bottom: 1rem;
}

.c-evenbetter_library_card .header-title h1 {
  margin: 0;
  font-size: 1.5rem;
}

.c-evenbetter_library_card {
  flex: 1;
  overflow: hidden;
}

.c-content[data-page^="#/workflows/"] .c-card__footer {
  position: absolute;
  height: 0;
}