:root {
  --c-header-cell-border: #101010 !important;
  --c-bg-default: #202020 !important;
  --c-bg-subtle: #252525 !important;
  --c-table-item-row: #252525 !important;
  --c-table-item-row-hover: #303030 !important;
  --header-cell-width: 1px !important;
  --c-table-even-item-row: #282828 !important;
  --c-fg-default: var(--c-white-100) !important;
  --c-fg-subtle: var(--c-gray-400) !important;
  --selection-background: rgba(255, 255, 255, 0.15) !important;
  --selected-row-background: var(--c-bg-default) !important;
  --c-table-background: #222222 !important;
}  

.p-dropdown {
  background-color: var(--c-bg-default) !important;
}

.c-header-cell {
  border: (--header-cell-width) solid var(--c-header-cell-border) !important;
}

.cm-selectionBackground {
  background: var(--selection-background) !important;
}

.c-item-row[data-is-selected="true"] {
  background: var(--selected-row-background) !important;
}

.c-table__header-row {
  background-color: var(--c-table-background) !important;
}


.p-row-odd,
.c-table__item-row[data-is-even=false]{
  background-color: var(--c-table-item-row) !important;
  transition: background-color 0.2s ease-in-out;
}

.p-row-even,
.c-table__item-row[data-is-even=true]{
  background-color: var(--c-table-even-item-row) !important;
  transition: background-color 0.2s ease-in-out;
}

.p-row-odd:hover,
.p-row-even:hover,
.c-table__item-row[data-is-even="false"]:hover,
.c-table__item-row[data-is-even="true"]:hover{
  background-color: var(--c-table-item-row-hover) !important;
}

.c-active-rule-list__rules,
.c-file-navigation__well-body {
  overflow: auto !important;
}

.c-sidebar-group__move-up:hover,
.c-sidebar-group__move-down:hover {
  cursor: pointer;
}

.c-sidebar-group__move-up,
.c-sidebar-group__move-down {
  opacity: 0.5;
  z-index: 5;
}

/* Hide arrows by default */
.c-sidebar-group__rearrange-arrows {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Show arrows on hover over the sidebar group title */
.c-sidebar-group__title:hover .c-sidebar-group__rearrange-arrows {
  opacity: 1;
}

.c-sidebar-group__move-up path,
.c-sidebar-group__move-down path {
  transition: 0.2s ease stroke;
  stroke: var(--c-fg-subtle);
}

.c-sidebar-group__move-up:hover path,
.c-sidebar-group__move-down:hover path {
  stroke: #f5f5f5;
}

.c-preset-list__well-entry-actions {
  display: flex;
  gap: 0.5rem;
}

.c-sidebar__toggle-wrapper {
  top: -1rem !important;
  right: 1.2rem !important;
}

.c-sidebar-group__title {
  transition: 0.2s ease color;
}

.c-sidebar-group__title:hover {
  color: rgb(99, 99, 99);
  cursor: pointer;
}

.c-convert .c-item__actions .formkit-input {
  padding: 0 !important;
}

.c-convert .c-item__actions {
  justify-content: flex-start !important;
  gap: 1rem !important;
}

.c-convert .c-table-header__new {
  display: flex !important;
  gap: 0.7em !important;
}

#scope-presents-import button {
  border: 2px solid #646464;
  background-color: #252525;
  border-radius: 5px;
}

#scope-presents-import .c-button__label {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#scope-presents-import .c-button__label p {
  margin: 0 !important;
}

[data-block="true"] .c-button {
  width: 100%;
}

.c-replay__tab-list .c-button__input {
  padding: 0 0.5rem !important;
}

.c-replay__tab-list .c-button__input {
  min-height: 2rem !important;
}

.c-replay__tab-list .c-tab-list__body {
  gap: 0.3rem !important;
}

.evenbetter__syntax-string {
  color: #b5cea8;
}

.evenbetter__syntax-number {
  color: #569cd6;
}

.evenbetter__syntax-boolean {
  color: #ce9178;
}

.evenbetter__syntax-null {
  color: #d2a8ff;
}

.evenbetter__syntax-key {
  color: #ecae38;
}

.c-settings .c-card {
  overflow: auto !important;
}

.c-sidebar-item__count {
  padding-right: var(--c-space-2);
}

.c-sidebar-item__count-label {
  border-radius: var(--c-border-radius-1);
  background-color: var(--c-bg-danger);
  padding: 0 var(--c-space-1);
  color: var(--c-fg-onEmphasis);
  font-size: var(--c-font-size-75);
} 

.c-session-tree .c-tree-node-name__label {
  -moz-user-select: auto;
  -webkit-user-select: none;
  user-select: none;
}

.p-menubar {
  background-color: var(--c-bg-subtle);
}

.p-menubar .p-menuitem {
  margin: 0px !important;
}

.p-menubar-root-list {
  gap: 0.2em;
}

/* css issue in v0.35.0, i think context menu items should have cursor: pointer; */
.p-menuitem {
  cursor: pointer;
}

.c-finding-table .c-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-tabview-nav,
.p-tabview .p-tabview-panels,
.p-datatable-footer,
.p-datatable-emptymessage,
.p-datatable-header {
  background-color: var(--c-bg-subtle);
} 

.p-datatable .p-datatable-thead>tr>th {
  border-color: var(--c-bg-default) !important;
}

[data-pc-section="headercell"] {
  background-color: var(--c-table-background);
} 

/* scroll fix for numbers feature on the plugins page */
.c-plugins .p-datatable-wrapper {
  overflow: hidden !important;
}

/* scroll fix for numbers feature on the automate page */
[data-page="#/automate"] .c-automate-session__settings,
[data-page="#/automate"] .p-tabview-panel {
  overflow: hidden !important;
}

[data-page="#/automate"] .c-simple-list__list {
  height: 80% !important;
}

.p-datatable-row-expansion {
  background-color: var(--c-bg-default) !important;
}