.ssrf-instance-url {
  color: var(--c-fg-subtle) !important;
}

.evenbetter_quick-ssrf_switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-evenbetter_quick-ssrf select {
  width: 100%;
  height: var(--c-space-10);
  border-radius: var(--c-border-radius-2) 0px 0px var(--c-border-radius-2) !important;
  border: var(--c-border-width-1) solid var(--c-border-default);
  background-color: var(--c-bg-default);
  color: var(--c-fg-default);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.5em;
}

.evenbetter_quick-ssrf_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border: var(--c-border-width-1) solid var(--c-border-default);
  border-radius: 0 var(--c-border-radius-2) var(--c-border-radius-2) 0;
  color: var(--c-fg-default);
  background-color: var(--c-bg-default);
  max-height: var(--c-space-10);
  cursor: pointer;

  transition: 0.2s ease background-color, transform;
}

.evenbetter_quick-ssrf_button:hover {
  background-color: var(--c-bg-subtle);
}

.evenbetter_quick-ssrf_button:active {
  transform: scale(0.95);
}

#ssrf-instance-url {
  border-radius: var(--c-border-radius-2) 0 0 var(--c-border-radius-2) !important;
}